{% extends 'main_app/base.html' %}
{% load file_tags %}
{% block title %} Отчет {% endblock %}
{% block content %}
    <h1 style="text-align: center">Отчет по файлу: {{ file.name }}</h1>
    <h2 style="text-align: center">{{ file.file.name|slice:'6::' }}</h2>
    {% for log in logs %}
         <div class="card">
             <div class="card-body">
                 <h5 class="card-title">{{ forloop.counter }}. {{ log.created }}</h5>
                 <p class="card-text">{{ log.description }}</p>
             </div>
         </div><br>
    {% endfor %}
{% endblock %}
{% block tags %}
    <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-header">Логи</div>
                <div class="card-body">
                    Количество: {% total_logs file.slug %}
                </div>
            </div>
    </div>
{% endblock %}
{% block pagin %}
{% include 'main_app/pagination.html' with page=logs %}
{% endblock %}
