psycopg2==2.8.6
asgiref==3.7.2
Django==3.2.16
python-dotenv==1.0.0
pytz==2023.3
sqlparse==0.4.4
Pillow==10.0.1
django-bootstrap5==23.3
slug==2.0
celery==5.1.2
redis==3.5.3
flower==1.2.0
django-currentuser==0.5.3
pylint
gunicorn==20.1.0
